header {
  background-color: #E61A58;
  color: #fff;
  margin: auto;
  width: 512px;
}

h1 {
  margin: auto;
  padding-left: 5%;
}

.mdl-layout-header {
  margin: auto;
}

.demo-card-wide {
  color: #6A6A6A;
  height: 50px;
  margin: auto;
  width: 512px;
}

.label, .mdl-card__supporting-text{
  padding-left: 5%;
}

.mdl-textfield__input {
  width: 461px;
}

.items #toDoList {
  margin: auto;
  padding: 0px;
  width: 512px;
}

.mdl-list__item-primary-content {
  line-height: 50px;
  padding: 0;
  width: 512px;
}

.mdl-button {
  float: right;
  width: 109px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.mdl-list__item-primary-content {
  font-size: 1.2rem;
  margin: auto;
  width: 461px;
}

.check {
  margin-right: 20px;
}
